<?xml version="1.0" ?>
<model>
  <name>Assembly5</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Francesco Circhetta</name>
    <email>francesco.circhetta@mail.polimi.it</email>
  </author>
  <description>A model of the robot given for the first project of the Robotics course.</description>
</model>
